{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block sonata_head_title %}
    {{ 'app_full_name'|trans({}, 'App') }}

    {% if _title is not empty %}
        {{ _title|striptags|raw }}
    {% else %}
        {% if action is defined %}
            -
            {{ render_breadcrumbs_for_title(admin, action) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block logo %}
    {% apply spaceless %}
        <a class="logo" style="min-height: 51px" href="{{ path('sonata_admin_dashboard') }}">
            {% if 'icon' == sonata_config.getOption('logo_content') or 'all' == sonata_config.getOption('logo_content') %}
                <img src="{{ asset(sonata_config.logo) }}"
                     alt="{{ sonata_config.title }}">
                <span>{{ sonata_config.title }}</span>

            {% endif %}
        </a>
    {% endapply %}
{% endblock %}


{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}


{% block side_bar_after_nav %}
    {{ parent() }}
    <div class="menu-info text-sm absolute bottom-1 border-t">
        <div class="text-center text-down-01"><strong>Copyright &copy; {{ "now"|date("Y") }} <a
                    href="https://github.com/meloflavio">@meloflavio</a>. <br/>Versão
                {% include 'version.html.twig' %}
            </strong></div>
        <div class="text-center text-down-01">Todos os direitos reservados.</div>
    </div>
{% endblock side_bar_after_nav %}
